In [2]:
import numpy as np
import pandas as pd
import scipy.stats as ss

### Preprocessing and data cleaning

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/jadijadi/machine_learning_with_python_jadi/main/movies.csv')
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
34203,151697,Grand Slam (1967),Thriller
34204,151701,Bloodmoney (2010),(no genres listed)
34205,151703,The Butterfly Circus (2009),Drama
34206,151709,Zero (2015),Drama|Sci-Fi
34207,151711,The 2000 Year Old Man (1975),(no genres listed)

In [4]:
# تو این مرحله ایدی فیلم هارو درست میکنیم و به اعداد معقول تری تبدیلشون میکنیم
df['movieId']= range(1,len(df)+1)
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
34203,34204,Grand Slam (1967),Thriller
34204,34205,Bloodmoney (2010),(no genres listed)
34205,34206,The Butterfly Circus (2009),Drama
34206,34207,Zero (2015),Drama|Sci-Fi
34207,34208,The 2000 Year Old Man (1975),(no genres listed)

In [5]:
# تو این مرحله فیلد ژانر رو از حالت کارکتر تبدیل میکنیم به یه لیست
df['genres' ]= df['genres'].str.split('|')
df

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]
...,...,...,...
34203,34204,Grand Slam (1967),[Thriller]
34204,34205,Bloodmoney (2010),[(no genres listed)]
34205,34206,The Butterfly Circus (2009),[Drama]
34206,34207,Zero (2015),"[Drama, Sci-Fi]"
34207,34208,The 2000 Year Old Man (1975),[(no genres listed)]

In [6]:
# تو این مرحله از تمیز کرده داده ۲ کار بسیار مهم انجام میدیم
# اول اینکه فیلد نام رو بر اساس فاصله تبدیل میکنیم به یه لیست
# از اونجایی که فیلد تایتل ساختار ثابتی داره بعد از تبدیل شدن به لیست
# اخرین اندیس این لیست سال تولد هستش
# پس با حذف پرانتز ها اون رو به یه فیلد جدید یعنی سال انتقال میدیم
# حالا نوبت اونه که سالو از اسم حذف کنیم
# خوب از اوجایی که سال اخرین اندیس این لیست هستش کافیه اونو حذف کنیم
# لیست جدید فقط شامل اسم فیلم میباشد پس با یه دستور ساده یعنی جوین و تعریف فاصله برای جدا کننده
# اونو از لیست تبدیل میکنیم به یه رشته ساده و در سر جای خودش قرار میدیم

df['title'] = df['title'].str.split(' ')

temp = []
for index  in range(len(df)):
  temp.append((df['title'][index][-1])[1:-1])

df['year']=temp

for index  in range(len(df)):
  df['title'][index].pop() 

for index in range(len(df)):
  tmp = df['title'][index]
  df['title'][index] = ' '.join(tmp)

df

<ipython-input-6-9dc55d753fe2>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['title'][index] = ' '.join(tmp)

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995
...,...,...,...,...
34203,34204,Grand Slam,[Thriller],1967
34204,34205,Bloodmoney,[(no genres listed)],2010
34205,34206,The Butterfly Circus,[Drama],2009
34206,34207,Zero,"[Drama, Sci-Fi]",2015
34207,34208,The 2000 Year Old Man,[(no genres listed)],1975

In [7]:
#در ااین جا یه کپی با صورن دیپ کپی از دیتا فریم میگیریم
#که تغیرات اصلیمون رو دیتا فریم اصلی نباشه و بشه بعدا تغییرات رو بازگردوند و رو دیتافریم اصلی مشکلی پیش نیاد
dfCopy = df.copy()


#در اینجا با حلقه که یک تابع ایتریت بر روی رکورد ها انجام میدهد میتوانیم هر رکورد را مورد بررسی قرار دهیم
# مقدار ایندس در هر حلقه ی فور برابر است با ایندس جدول یعنی همان ۰و۱و۲و۳ که در سمت چپ جدول قابل مشاهده است
#مقدار روو هم در اینجا دقیقا برابر است با مقادیر رکورد که قرار 
for index, row in df.iterrows():
    #در این بخش از حلقه مقدار ایندکس نگهداری میشود تا بعدا بشود در رکورد مورد نظر تغییراتی اعمال کرد
    #ولی همان طور که قبلا هم گفته شد تمام مقدار رکورد فیلم در این مرحله مورد نیاز ما نیست
    #و فقط به فیلد ژانر نیاز داریم، از اونجایی که فیلد ژانر هم تشکیل شده از لیستی که دارای چندیدن مقدار است
    #پس یه حلقه دیگه مختص فیلد ژانر درست میکنیم 
    for genre in row['genres']:
        #در اینجا متغییر ژانر مقادیر تک به تک فیلد ژانر از هر فیلم رو در خودش قرار میده تا بشه باهاش یه فیلد خاص ساخت
        #با استفاده از پارامتر ات میشود سلول خاصی دسترسی پیداکرد
        #که برای اینکار ۲ مقدار رو درییافت میکنه
        #اولین مقدار، مقدار ایندکس هست که قبلا در متغییر ایندس ذخیره کردیم
        #دومین مقدار، مقدار ستون یا فیلد هستش که مساوی با ژانر قرار داده شده
        #برای مثال چون فیلدی به نام اکشن وجود ندارد پس فیلد جدید با آن نام میسازد
        #بعد از ساخت فیلد، مقدار آن سلول رو که دقیقا در رکورد فیلم مورد نظرمون هست رو مساوی با ۱ قرار میدیم
        dfCopy.loc[index, genre] = 1
        # print(genre)

        
#بعد از اعمال کد بالا در خیلی از خانه ها ما شاهد مقدار نَن هستیم که به معنای به معنای عدد نیست مواجه میشویم
#دلیل این اتفاق هم معلوم است
# به عنوان مثال فیلمی رو تصور کنید با دو ژانر کمدی و رومانتیک
# خوب حلقه ی ما دو فیلد جدید با نام های کمدی و روماتیک در دیتا فریم ما میسازد
# و مقدار ۱ را برای این فیلم در این رکورد ها قرار میدهد
# حال فیلم دیگری را تصور کنید که یک ژانر بیشتر دارد و این یعنی یک فیلد جدید
# نمیشود که این فیلد جدید برای فیلم اول مقدار خالی بگیرد
# برای این کار سیستم به طورت خودکار مقدار نَن را برای آن مقدار دهی میکند
# حالا در این خط کد تمام سلول های هایی که مقدار قابل توجهی هم هستند را با مصفر مقدار دهی میکنیم
dfCopy = dfCopy.fillna(0)
dfCopy.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### User input

In [8]:
# در اینجا یک کاربر فرضی رو در نظر گرفتیم که که بیشتر در ژانر کمدی و جنایی علاقه مند است
# برای انجام اینکار از یک دیکشنری استفاده شده که کلید اول اسم فیلم و کلید دوم امتیازی که کاربر به اون فیلم داده رو رو ذخیره کردیم
# بدهی هستش که اگه قراره مدل بهتری داشته باشیم فقط داشتم امتیازات کاربر کمک چندانی بهمون نمیکنه
# و شاید ممکنه پیشبینی دقیقی هم انجام نشه
# یرای بهتر کردن این موضوع میشه از پردازش نظر کاربر، تعداد دفعات تکرار دیدن، میزان به اشتراک گذاری بین دوستان
# و مواردی جدی تری از این قبیل

u1 = [
            {'title':'Bottle Rocket', 'score':8},
            {'title':'Batman Forever', 'score':9},
            {'title':"Legends of the Fall", 'score':6},
            {'title':'Secret of Roan Inish, The', 'score':8},
            {'title':'Tank Girl', 'score':10},
            {'title':'Bolt', 'score':9},
            {'title':'Curious Case of Benjamin Button, The', 'score':3},
         ] 
# در اینجا مقدار دیکشنری رو تبدیل به دیتافریم پاندا کردیم که بتونیم پردازش های راحت تری روی داده انجام بدیم
dfu = pd.DataFrame(u1)

In [9]:

# در این مرحله دیتا فریمی که در مرحله قبل سخته بودیم فیلد نام فیلم رو سکلت میکنیم و
# با استفاده از تابع تولیست اونو به یه لیست ساده تبدیل میکنیم

# در مرحله بعد با استفاده از تابع ایزاین در نام فیلم ورودی در جدول اصلی که آیا چنین فیلمی وجو داره یا نه
# که مقدار باز گشتی این فیلتر کردن مقادیر ترو و فالس هستش
# که از طریق تکنیک ماسک کردن ما اون فیلم ها رو جدا میکنیم
# هدف قضیه کجاست؟
# هدف اینکه فیلم هایی که کاربر دیده رو از دیتافریم اصلیمون پیدا کنیم و روش عملیات هایی انجام بدیم
# که در نهایت یه جدول داریم با فیلد های کد فیلم، نام فیلم، ژانر هاش و سال ساختش
di = df[df['title'].isin(dfu['title'].tolist())]

# در این مرحله نیاز داریم ما امتیازی که کاربر به فیلم ها داده بود رو نیز به جدول اصلی مون اضافه کنیم
# البته روش های دیگه ای برای این قضیه هم موجود هست مانند تابع لوک یا تابع مرج که در ویدیوها توضیح داده شد
di['score'] = dfu['score'].tolist()
dfu = di
# از اونجایی که در این بخش فیلد های سال تولید و ژانر در این دیتافریم به درد ما نمیخوره
# با استفاده از تابع دراپ اونارو از جدول اصلی حذف میکنم
# مقدار ۱ هم برای اینکه کل ستون حذف بشه و نه مقادیر
dfu = dfu.drop('genres', 1).drop('year', 1)
dfu

<ipython-input-9-79c23e4cb163>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  di['score'] = dfu['score'].tolist()
<ipython-input-9-79c23e4cb163>:19: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dfu = dfu.drop('genres', 1).drop('year', 1)

       movieId                                 title  score
99         100                         Bottle Rocket      8
151        152                        Batman Forever      9
263        264                   Legends of the Fall      6
311        312             Secret of Roan Inish, The      8
323        324                             Tank Girl     10
13189    13190                                  Bolt      9
13279    13280  Curious Case of Benjamin Button, The      3

### Content-Based Recommender Systems

In [10]:
# در این مرحله تقریبا همام کار مرحله بالا رو انجام میدیم
# با این تفاوت که از جدول جدیدمون که الان شامل اطلاعات کامل تری  هست استفاده میکنیم
# و فیلتر و ماسک کردن رو روی فریم کپی انجام میدیم
# دلیل این کارم معلومه چون جدول اصلی اون فیلد های ژانر که مقادیر ۰ یا ۱ رو نداشت
# حالا ما چی داریم؟
# یه جدول با دیتای کافی و فیلد های فیلتر شده که مناسب مدل یادگیری ما هستش
um = dfCopy[dfCopy['movieId'].isin(dfu['movieId'].tolist())]
um.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
99,100,Bottle Rocket,"[Adventure, Comedy, Crime, Romance]",1996,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151,152,Batman Forever,"[Action, Adventure, Comedy, Crime]",1995,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263,264,Legends of the Fall,"[Drama, Romance, War, Western]",1994,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
311,312,"Secret of Roan Inish, The","[Children, Drama, Fantasy, Mystery]",1994,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
323,324,Tank Girl,"[Action, Comedy, Sci-Fi]",1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# تو این مرحله اندکس هامو ریستارت کنی چون جدول جدیدی داریم
um = um.reset_index(drop=True)

# خوب برای ضرب کردن ماتریس ژانرمون باید اول اونو حرص کنیم و داده های غیر مهم رو ازش حذف کنیم
# این داده های اضافه برای ماتریس هر چیز به جز فیلد های ژانر هستش
ug = um.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
ug.head()

<ipython-input-11-4c9f148fd31f>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  ug = um.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
#  در این مرحله اول باید فریم خودرا بچرخانیم یا با اصطلاح ریاضی جای سطر  و و ستون رو عضو کنیم
# به صورت دقیق تر ترانهاد ماتریس فعلی رو میخواهیم
# برای این کار از پارامتر ترنسپوز استفاده میکنیم
up = ug.transpose()

# بعد از به دست اوردن ترنسپوز ماتریس جدید حالا وقت اونه که یوزر پورفایل خودمون رو بسازیم
# بریا این کار باید لیست نمرات کاربر رو داشته باشیم
# که از طریق کد زیر به دست میاد و ایندس هاش هم ریستارت میکنیم
scoreu = dfu['score'].reset_index(drop=True)

# حالا همه چی اماده ست که یوزر پورفایل خودمون رو به دست بیاریم برای این کار کافیه ضرب ماتریسی انجام بدیم
# برای این ضرب کافیه از پارامتر دات استفاده کنیم
# تا هر دو ماتریس رو در هم ضرب کنیم
up = up.dot(scoreu)
up

Adventure             26.0
Animation              9.0
Children              17.0
Comedy                36.0
Fantasy               11.0
Romance               17.0
Drama                 17.0
Action                28.0
Crime                 17.0
Thriller               0.0
Horror                 0.0
Mystery               11.0
Sci-Fi                10.0
IMAX                   0.0
Documentary            0.0
War                    6.0
Musical                0.0
Western                6.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [13]:
# حالا یه فریم جدید از همون فریم اورجینال درست میکنیم
# با این تفاوت که اندکس های این فریم دقیق برابر هستش با کد فیلم
gt = dfCopy.set_index(dfCopy['movieId'])


# همچنین فیلد های اضافه مثل کد فیلم، اسم فیلم، ژانر و سال تولید
# رو از فریممون حذف میکنیم تا فقط فیلد های ژانر باقی بمونه
# این کار دقیقا مثل همون کاریه که با لیست فیلم های کاربر کردیم هستش
# برای اینکه بتونیم ضرب ماتریسی خودمون رو انجام بدیم
gt = gt.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
gt.head()

<ipython-input-13-5482cebed4bb>:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  gt = gt.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# خوب حالا یوزر پورفایلمون رو ضربدر ماتریس اصلی که شامل همه فیلم ها هستش میکنیم
# حاصل به دست اومده به این مفهوم است که ضریب علاقه مندی کاربر به یک ژانر خاص در ماتریس ژانر های اون فیلم
gt*up


# ولی این ماتریس به طور کلی به درد ما نمیخوره و باید مجموع علاقه مندی هارو به دست بیاریمبرای این کار از تابع سام استفاده میکنیم
# اکسیس ۱ هم به این معنا هست که مقدار مجموع رو در هر سطر حساب کن نه در هر ستون
# عدد به دست اومده میزان علاقه مندی کاربر به هر فیلم هستش
# که این عدد به تنهایی معنایی ندارد و استاندارد نشده
# برای این کار باید مجموع ضریب های علاقه مندی رو در اعداد به دست اومده تقسیم کنیم تا عدد معقول تری به دست بیاریم
number1 = (gt*up).sum(axis=1)
number2 = up.sum()



# حاصل به دست اومده دقیقا برابر هستش با میزان علاقه مند بودن کاربر به هر فیلم که البته مرتب نشده
dt = ((gt*up).sum(axis=1))/(up.sum())
dt

movieId
1        0.469194
2        0.255924
3        0.251185
4        0.331754
5        0.170616
           ...
34204    0.000000
34205    0.000000
34206    0.080569
34207    0.127962
34208    0.000000
Length: 34208, dtype: float64

In [15]:
# با یک مرتب سازی ساده با صورت صعودی میتونیم ببینیم که کاربر ممکنه به کدوم فیلم ها علاقه مندی بیشتری داشته باشه
# البته جدول نشونو داده شده بر اساس کد فیلم هستش و نام فیلم در آن قرار ندارد
dt = dt.sort_values(ascending=False)
dt

movieId
9297     0.682464
16056    0.668246
15002    0.639810
15074    0.639810
16505    0.639810
           ...
25930    0.000000
25911    0.000000
5723     0.000000
11528    0.000000
34208    0.000000
Length: 34208, dtype: float64

In [16]:
dt =pd.DataFrame(dt)
dt.reset_index(inplace=True)
dt

       movieId         0
0         9297  0.682464
1        16056  0.668246
2        15002  0.639810
3        15074  0.639810
4        16505  0.639810
...        ...       ...
34203    25930  0.000000
34204    25911  0.000000
34205     5723  0.000000
34206    11528  0.000000
34207    34208  0.000000

[34208 rows x 2 columns]

In [23]:
# در اخر سر هم با تابع ریاندکس فیلم هارو بر اساس اولویتشون نمایش میدیم
# این در حالی هستش که در دوره فیلم های پیشنهاد بر اساس ایدی شون نمایش داده شده بود
# و فیلم های برتر قابل تشخصیص نبودن
RecSysContentBased = df.reindex(dt['movieId'].tolist())



---



---

### Output

In [18]:
display(RecSysContentBased.head(10))

,movieId,title,genres,year
9297,9298.0,Speaking of Sex,"[Comedy, Romance]",2001
16056,16057.0,7 Days (Les 7 jours du talion),[Thriller],2010
15002,15003.0,Blade of the Ripper,"[Drama, Horror, Mystery, Romance, Thriller]",1971
15074,15075.0,Yuki & Nina,[Drama],2009
16505,16506.0,Flow,[Documentary],2008
8606,8607.0,"Eclisse, L' (Eclipse)",[Drama],1962
13913,13914.0,120,"[Drama, War]",2008
33915,33916.0,Woodlawn,[Drama],2015
32308,32309.0,Countdown,"[Action, Thriller]",2011
11807,11808.0,"Private Affairs of Bel Ami, The",[Drama],1947